:root {
    --red: #ff4100;
    --blue: #0024ff;
    --green: #12c500;
    --yellow: #bcba00;
    --flash-red: #ff9672;
    --flash-blue: #9fafff;
    --flash-green: #a3ff99;
    --flash-yellow: #fffd62;
    --dark-red: #570000;
}

* {
    margin: 0;
    padding: 0;
  }

  .frame {
      height: 100vh;
      width: 100vw;
      background-color: gray;
  }

  .container-circle {
      height: 400px;
      width: 400px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: black;
      border-radius: 50%;
  }

  .top-left {
      background-color: var(--green);
      height: 180px;
      width: 180px;
      top: 26%;
      left: 26%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 100% 0 0 0;
  }

  .top-right {
      background-color: var(--red);
      height: 180px;
      width: 180px;
      top: 26%;
      left: 74%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 0 100% 0 0;
  }

  .bottom-right {
    background-color: var(--blue);
      height: 180px;
      width: 180px;
      top: 74%;
      left: 74%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 0 0 100% 0;
  }

  .bottom-left {
    background-color: yellow;
      height: 180px;
      width: 180px;
      top: 74%;
      left: 26%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 0 0 0 100%;
  }

  .opacity {
      opacity: 0.5;
  }

  .inner-circle {
      height: 160px;
      width: 160px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: gray;
      border-radius: 50%;
      border: 10px solid black;
  }

  .counter {
      position: absolute;
      top: 74%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: inline-block;
      height: 30px;
      width: 60px;
      background-color: var(--dark-red);
      border: 5px solid black;
  }

  .score {
      color: var(--red);
      text-align: center;
      font-size: 1.6em;
      font-weight: bold;
  }

  .game-name {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 2em;
  }

  #on {
      background-color: var(--red);
      position: absolute;
      top: 45%;
      left: 74%;
      transform: translate(-50%,-50%);
      font-size: 1.5em;
  }

  #start {
      background-color: black;
      position: absolute;
      top: 45%;
      left: 26%;
      transform: translate(-50%,-50%);
      font-size: 1.5em;
  }
  