:root {
    --red: #ff4100;
    --blue: #0024ff;
    --green: #12c500;
    --purple: #7b00a1;
    --yellow: #bcba00;
    --dark-red: #570000;
    --forestgreen: #25541f;
    --flashred: #ff9672;
    --flashblue: #9fafff;
    --flashgreen: #a3ff99;
    --flashpurple: #d47fee;
    --flashyellow: #fffec2;
    --flashforestgreen: #68c25d;
    --oceanblue: #2b96cd;
}
    h1, h2 ,h3, p, div {
    font-family: Raleway, sans-serif;
    }

* {
    margin: 0;
    padding: 0;
  }

  .frame {
      height: 100vh;
      width: 100vw;
      background-color: var(--oceanblue);
      overflow: hidden;
  }

  .on-off-music {
      display: flex;
      align-content: center;
      align-items: center;
      margin-left: 50%;
  }

                                          /* Frog */
  .right-foot {
      height: 20px;
      width: 30px;
      top: -10%;
      left: 76%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: darkgreen;
      border-radius: 70% 0;
      transform: rotate(-45deg);
      border: solid 4px green;
  }

  .left-foot {
      height: 20px;
      width: 30px;
      top: -12%;
      left: 51%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: darkgreen;
      border-radius: 70% 0;
      transform: rotate(120deg);
      border: solid 4px green;
  }
  
  .frog {
      height: 80px;
      width: 100px;
      top: -20%;
      left: 55%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: darkgreen;
      border-radius: 90% 60%;
      transform: rotate(25deg);
      border: solid 4px green;
  }

  .righteye {
      height: 25px;
      width: 25px;
      top: 25%;
      left: 72%;
      transform: translate(-50%,-50%);
      position: relative;
      overflow: hidden;
      background-color: white;
      border-radius: 50%;
      border: solid 6px green;
  }

  .rightiris {
      height: 12px;
      width: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: black;
      border-radius: 50%;
      border: 3px solid lightblue;
  }

  .lefteye {
      height: 25px;
      width: 25px;
      top: -15%;
      left: 22%;
      transform: translate(-50%,-50%);
      position: relative;
      overflow: hidden;
      background-color: white;
      border-radius: 50%;
      border: solid 6px green;
  }

  .leftiris {
      height: 12px;
      width: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: black;
      border-radius: 50%;
      
      border: 3px solid lightblue;
  }

  .mouth {
      height: 20px;
      width: 20px;
      top: 50%;
      left: 60%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 90% 0;
      transform: rotate(0deg);
      border: solid 4px green;
  }

  .mouthcover {
      height: 20px;
      width: 20px;
      top: 45%;
      left: 60%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: darkgreen;
      border-radius: 90% 0;
      transform: rotate(0deg);
      border: solid 4px darkgreen;
  }

                                        /* Talk bubble */
  .talk-arrow {
      height: 40px;
      width: 40px;
      top: -13%;
      left: 38%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: lightgreen;
      border-radius: 90% 0;
      transform: rotate(65deg);
      border: solid 4px lightgreen;
  }

  .bubble {
      height: 80px;
      width: 160px;
      top: -20%;
      left: 11%;
      color: black;
      position: absolute;
      background-color: lightgreen;
      border-radius: 50%;
      border: solid 2px green;  
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 110%;
      font-weight: bold;
  }

  .textbubble {
      text-align: center;
      font-size: 110%;
      font-weight: bold;
  }

  /* Game Container */
  .container {
      height: 400px;
      width: 400px;
      top: 60%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 50%;
  }

  .top-right {
      background-color: var(--red);
      height: 135px;
      width: 135px;
      top: 20%;
      left: 67%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 100%;
  }

  .right {
      background-color: var(--forestgreen);
      height: 135px;
      width: 135px;
      top: 50%;
      left: 82.5%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 100%;
  }

  .bottom-right {
    background-color: var(--blue);
      height: 135px;
      width: 135px;
      top: 80%;
      left: 67%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 100%;
  }

  .bottom-left {
    background-color: var(--yellow);
      height: 135px;
      width: 135px;
      top: 80%;
      left: 33%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 100%;
  }

   .left {
      background-color: rgb(123, 0, 161);
      height: 135px;
      width: 135px;
      top: 50%;
      left: 16%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 100%;
  }

    .top-left {
      background-color: var(--green);
      height: 135px;
      width: 135px;
      top: 20%;
      left: 33%;
      transform: translate(-50%,-50%);
      position: absolute;
      border-radius: 100%;
  }

                                        /* The cut into the Lilyleafs */
    .cutleaf {
      height: 40px;
      width: 40px;
      top: 4%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: var(--oceanblue);
      border-radius: 80% 0;
      transform: rotate(85deg);
    }

    .rightleafcut {
      height: 40px;
      width: 40px;
      top: 28%;
      left: 85%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: var(--oceanblue);
      border-radius: 80% 0;
      transform: rotate(150deg);
    }

    .bottomrightleafcut {
      height: 40px;
      width: 40px;
      top: 68%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: var(--oceanblue);
      border-radius: 80% 0;
      transform: rotate(65deg);
    }

    .bottomleftleafcut {
      height: 40px;
      width: 40px;
      top: 87%;
      left: 15%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: var(--oceanblue);
      border-radius: 80% 0;
      transform: rotate(0deg);
    }

    .leftleafcut {
      height: 40px;
      width: 40px;
      top: 48%;
      left: 28%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: var(--oceanblue);
      border-radius: 80% 0;
      transform: rotate(65deg);
    }

    .topleftleafcut {
      height: 40px;
      width: 40px;
      top: 22%;
      left: 11%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: var(--oceanblue);
      border-radius: 80% 0;
      transform: rotate(198deg);
    }

                                        /* Lily flower */
      .inner-circle {
      height: 140px;
      width: 140px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: var(--oceanblue);
      border-radius: 50%;    
  }

                                        /* white and pink flower leafs */
    .flowerleaftop {
      height: 50px;
      width: 50px;
      top: -10%;
      left: 30%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(-30deg);
      border: 5px solid pink;
    }

    .flowerleaftopright {
      height: 50px;
      width: 50px;
      top: 0%;
      left: 63%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(0deg);
      border: 5px solid pink;
    }

    .flowerleafright {
      height: 50px;
      width: 50px;
      top: 25%;
      left: 73%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(35deg);
      border: 5px solid pink;
    }

    .flowerleafbottomright {
      height: 50px;
      width: 50px;
      top: 55%;
      left: 68%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(75deg);
      border: 5px solid pink;
    }

    .flowerleafbottom {
      height: 50px;
      width: 50px;
      top: 65%;
      left: 38%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(130deg);
      border: 5px solid pink;
    }

    .flowerleafbottomleft {
      height: 50px;
      width: 50px;
      top: 65%;
      left: 8%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(160deg);
      border: 5px solid pink;
    }

    .flowerleafleft {
      height: 50px;
      width: 50px;
      top: 40%;
      left: -5%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(210deg);
      border: 5px solid pink;
    }

    .flowerleaftopleft {
      height: 50px;
      width: 50px;
      top: 7%;
      left: 0%;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: white;
      border-radius: 70% 0;
      transform: rotate(260deg);
      border: 5px solid pink;
    }

                                        /* Score Counter */
  .counter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: inline-block;
      height: 70px;
      width: 70px;
      background-color: var(--yellow);
      border-radius: 100%;
      border: 5px solid rgb(247, 255, 141);
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .score {
      color: var(--red);
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
  }

  .game-name {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 2em;
  }

  #on {
      background-color: var(--red);
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translate(-50%,-50%);
      font-size: 1.5em;
  }

  #start {
      background-color: black;
      position: absolute;
      top: 45%;
      left: 26%;
      transform: translate(-50%,-50%);
      font-size: 1.5em;
  }
  